

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}



/* BODY */
    body {
        margin : 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: serif;
        overflow-y: clip;
    }
    
    html,
    body {
        height: 100%;
        

    }
/* BODY end */

/* WRAPPER */
.wrapper {
height: 100vh;
width: 100vw;

}
/* WRAPPER end */

/* NAME-TITLE */
#name-title {
    border: 1px solid black;
    position: absolute;
    right: 4%;
    top: 4%;
    padding-top: 3px;
    padding-bottom: 3px;
    z-index: 3;
    background-color: white;
    width: 150px;
    text-align: center;
    
}
#name-title a {
    color: black;
    text-decoration: none;
    display: block; /* to make entire box the link */
}
#name-title:hover a {
    color: white;
}
/* NAME-TITLE end */


/* SLIDESHOW */
    /* ratio 3:4 */
    

    .slider {
        width: 100vh;
        height: 84vh;
        min-width: 700px;
       
        text-align: center;
        overflow: hidden;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        /* ^ to keep the box centered vertically + top:50% */
        left:10%;
       
    }


    .slides {
        display: flex;
        overflow-x: auto;
        scroll-behavior: auto;
        -webkit-overflow-scrolling: touch;
        border: 1px solid black;
        background-color: white;
        /*
        scroll-snap-points-x: repeat(300px);
        scroll-snap-type: mandatory;
        */
    }

    .slides>div {
        scroll-snap-align: start;
        flex-shrink: 0;
        
        height: calc(84vh - 2px - 18px); /* 18 to allow for scrollbars */
        
       
        
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slider img {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        
        height: 100%;
        pointer-events: none;
    }

   


    html,
    body {
        height: 100%;
        overflow: hidden;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: serif;
    }
/* SLIDESHOW end */



/* PROJECT DESCRIPTION */
ul {
    list-style-type: none;
}

table a {
    text-decoration: none;
    /*cursor: crosshair;*/
    cursor: e-resize;
}

table a:visited {
    text-decoration: none;
    color: black;
}

table a:hover {
    text-decoration: underline;
}

table, th, td {
    border:1px solid black;
    border-collapse: collapse;
    font-family: serif;
}

#project-table th, td {
    padding: 4px;
    text-decoration: none;
}

table {
    width: 300px;
    max-height: 300px;
    position: fixed;
    top: 30%;
    right: 8%;
    background-color: white;
    text-align: initial;
justify-self: center;
    table-layout: fixed;
}

table td.project:hover {
    text-decoration: none;
    background: #f0ff00;
    cursor: e-resize;
}

td#project-year {
    width: 40px;
    text-align: center;

}

/*td#project-text {
    height: 200px;
    display: block;
    overflow: scroll;
    text-overflow: ellipsis;
    border: none;
} */

#project-text {
    width: 290px; /* make a bit smaller than table width to allow for scrollbar */
    height: 218px;
    overflow: scroll;
    overflow-x: hidden; /* to hide horizontal scrollbar on windows */
}

#project-tableheader {
    cursor: move;
}

#project-tableheader:hover {
    background: yellow;
}
/* PROJECT DESCRIPTION end */



/* MEDIA QUERIES */

.small-screen {
    display: none;
    position: absolute;
     top: 50%;
        transform: translate(0, -50%);
        /* ^ to keep the box centered vertically + top:50% */
}

.small-screen img {
    object-fit: cover;
    width: 60vw;
    pointer-events: none;

}


/* hide body on smaller screens */


.center-text {
    position: absolute;
    text-align: center;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -75px;
    color: black;
    cursor: default ;
}

@media screen and (max-width: 900px) {
    .wrapper {
      display: none;
    }

    #name-title {
        display: none;
    }

    .small-screen {
        display: block;
        
        
    }
  }
