* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  
}



/* BODY */
    body {
        margin : 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: serif;
        overflow: hidden;
    }
    
    html,
    body {
        height: 100%;
        

    }
/* BODY end */

/* NAME-TITLE */
    #name-title {
        border: 1px solid black;
        position: absolute;
        right: 4%;
        top: 4%;
        padding-top: 3px;
        padding-bottom: 3px;
        z-index: 3;
        background-color: white;
        width: 150px;
        text-align: center;
        
    }
    #name-title a {
        color: black;
        text-decoration: none;
        display: block; /* to make entire box the link */
    }
    #name-title:hover a {
        color: white;
    }
/* NAME-TITLE end */



/* WRAPPER */
    .wrapper {
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        grid-auto-rows: auto;
        /*grid-template-rows: repeat(15, 1fr);*/
        justify-items: stretch;
        /* grid-gap: 2px; need to fix the margins(?) on the side if doing gap */
    height: 100vh;
    width: 100vw;
  
    }
/* WRAPPER end */


/* SLIDESHOW */
    /* ratio 1:1 */
    
    .slider {
        width: calc(85vh + 2px);
        height: calc(85vh + 2px + 3.2rem);
        min-width: 320px;
        min-height: 320px;
        text-align: center;
        overflow: hidden;
        position: fixed;
        top:2%;
      bottom: 0;
      left: 0;
      right: 0;
    
      margin: auto;
       
        
    }


    .slides {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: auto;
        -webkit-overflow-scrolling: touch;
        border: 1px solid black;
        background-color: white;
        z-index: 5;
        /*
        scroll-snap-points-x: repeat(300px);
        scroll-snap-type: mandatory;
        */
    }

    .slides>div {
        scroll-snap-align: start;
        flex-shrink: 0;
        width: 85vh;
        height: 85vh;
        min-width: 320px;
        min-height: 320px;
        margin-right: 20px;
        
        transform-origin: center center;
        transform: scale(1);
        transition: transform 0.5s;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .slides img {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
       
    }

    .slides video {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      padding: 1px;
  }

    .slider>a {
        display: inline-flex;
        
        height: 2rem;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        position: relative;
        color: black;
        font-size: 0.8rem;
        padding: 2px;
    }

    .slider>a:hover {
        text-decoration: underline;
        /*cursor: ew-resize;*/
    }

    .slide-description {
        position: relative;
        bottom: -46%;
        z-index: 100;
        color: black;
        font-size: 1.15vw;
      }


      

/* SLIDESHOW end */


/* PROJECT DESCRIPTION */
ul {
    list-style-type: none;
}

table a {
    text-decoration: none;
    /*cursor: crosshair;*/
    cursor: e-resize;
}

table a:visited {
    text-decoration: none;
    color: black;
}

table a:hover {
    text-decoration: underline;
}

table, th, td {
    border:1px solid black;
    border-collapse: collapse;
    font-family: serif;
}

#project-table th, td {
    padding: 4px;
    text-decoration: none;
}

table {
    width: 300px;
    max-height: 300px;
    position: fixed;
    top: 37%;
    left: 2.5%;
    background-color: white;
    text-align: initial;
justify-self: center;
    table-layout: fixed;
}

table td.project:hover {
    text-decoration: none;
    background: #f0ff00;
    cursor: e-resize;
}

td#project-year {
    width: 40px;
    text-align: center;

}

/*td#project-text {
    height: 200px;
    display: block;
    overflow: scroll;
    text-overflow: ellipsis;
    border: none;
} */

#project-text {
    width: 290px; /* make a bit smaller than table width to allow for scrollbar */
    height: 250px;
    overflow: scroll;
    overflow-x: hidden; /* to hide horizontal scrollbar on windows */
}

#project-tableheader {
    cursor: move;
}

#project-tableheader:hover {
    background: yellow;
}


.alignleft {
  float: left;
}
.alignright {
  float: right;
}
/* PROJECT DESCRIPTION end */


/* MEDIA QUERIES */

.small-screen {
    display: none;
    position: absolute;
     top: 50%;
        transform: translate(0, -50%);
        /* ^ to keep the box centered vertically + top:50% */
}

.small-screen img {
    object-fit: cover;
    width: 60vw;
    pointer-events: none;
}


  /* SKETCHES */

  .sketch-4 {
    position: absolute;
    left: 23%;
    bottom: 1%;
    z-index: -1;
    display: inline;
    width: 12%;
    height: 10%;
    background-image: url("../../resources/images/sketch_d6_004.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sketch-5 {
    position: absolute;
    right: 20%;
    top: -4%;
    z-index: -1;
    display: inline;
    width: 12%;
    height: 22%;
    background-image: url("../../resources/images/sketch_d6_005.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sketch-7 {
    position: absolute;
    left: 25%;
    top: 11%;
    z-index: -1;
    display: inline;
    width: 9%;
    height: 18%;
    background-image: url("../../resources/images/sketch_d6_007.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sketch-10 {
    position: absolute;
    right: -4%;
    top: 14%;
    z-index: -1;
    display: inline;
    width: 12%;
    height: 22%;
    background-image: url("../../resources/images/sketch_d6_010.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sketch-11 {
    position: absolute;
    right: 30%;
    top: 30%;
    z-index: -1;
    display: inline;
    width: 12%;
    height: 20%;
    background-image: url("../../resources/images/sketch_d6_011.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sketch-12 {
    position: absolute;
    right: -5%;
    top: 60%;
    z-index: -1;
    display: inline;
    width: 12%;
    height: 22%;
    background-image: url("../../resources/images/sketch_d6_012.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sketch-16 {
    position: absolute;
    left: 15%;
    top: 37%;
    z-index: -1;
    display: inline;
    width: 12%;
    height: 12%;
    background-image: url("../../resources/images/sketch_d6_016.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sketch-18 {
    position: absolute;
    right: 23%;
    bottom: -6%;
    z-index: -1;
    display: inline;
    width: 10%;
    height: 13%;
    background-image: url("../../resources/images/sketch_d6_018.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .sketch-21 {
    position: absolute;
    right: 10%;
    top: 30%;
    z-index: -1;
    display: inline;
    width: 12%;
    height: 22%;
    background-image: url("../../resources/images/sketch_d6_021.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sketch-22 {
    position: absolute;
    left: 30%;
    top: 38%;
    z-index: -1;
    display: inline;
    width: 12%;
    height: 22%;
    background-image: url("../../resources/images/sketch_d6_022.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sketch-23 {
    position: absolute;
    left: 10%;
    top: 80%;
    z-index: -1;
    display: inline;
    width: 12%;
    height: 15%;
    background-image: url("../../resources/images/sketch_d6_023.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sketch-25 {
    position: absolute;
    left: 14%;
    top: -4%;
    z-index: -1;
    display: inline;
    width: 8%;
    height: 15%;
    background-image: url("../../resources/images/sketch_d6_025.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sketch-26 {
    position: absolute;
    right: 3%;
    bottom: 14%;
    z-index: -1;
    display: inline;
    width: 8%;
    height: 15%;
    background-image: url("../../resources/images/sketch_d6_026.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sketch-27 {
    position: absolute;
    right: 22%;
    top: 55%;
    z-index: -1;
    display: inline;
    width: 12%;
    height: 10%;
    background-image: url("../../resources/images/sketch_d6_027.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sketch-28 {
    position: absolute;
    right: 40%;
    top: 2%;
    z-index: -1;
    display: inline;
    width: 14%;
    height: 17%;
    background-image: url("../../resources/images/sketch_d6_028.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .sketch-29 {
    position: absolute;
    left: 5%;
    top: 20%;
    z-index: -1;
    display: inline;
    width: 12%;
    height: 12%;
    background-image: url("../../resources/images/sketch_d6_029.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sketch-31 {
    position: absolute;
    left: -1%;
    top: 5%;
    z-index: -1;
    display: inline;
    width: 12%;
    height: 12%;
    background-image: url("../../resources/images/sketch_d6_031.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sketch-32 {
    position: absolute;
    right: 15%;
    top: 74%;
    z-index: -1;
    display: inline;
    width: 8%;
    height: 12%;
    background-image: url("../../resources/images/sketch_d6_032.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sketch-33 {
    position: absolute;
    left: 4%;
    top: 54%;
    z-index: -1;
    display: inline;
    width: 12%;
    height: 12%;
    background-image: url("../../resources/images/sketch_d6_033.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sketch-34 {
    position: absolute;
    left: 23%;
    top: 53%;
    z-index: -1;
    display: inline;
    width: 11%;
    height: 16%;
    background-image: url("../../resources/images/sketch_d6_034.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sketch-35 {
    position: absolute;
    left: 1%;
    bottom: 1%;
    z-index: -1;
    display: inline;
    width: 7%;
    height: 13%;
    background-image: url("../../resources/images/sketch_d6_035.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sketch-36 {
    position: absolute;
    right: -4%;
    bottom: -2%;
    z-index: -1;
    display: inline;
    width: 14%;
    height: 18%;
    background-image: url("../../resources/images/sketch_d6_036.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  /* SKETCHES end */


  .center-text {
    position: absolute;
    text-align: center;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -75px;
    color: black;
    cursor: default ;
}

@media screen and (max-width: 480px) {
    .wrapper {
      display: none;
    }

    #name-title {
        display: none;
    }

    .small-screen {
        display: block;
        
        
    }
  }

