* {
    
    margin: 0;
    padding: 0;
  
  
}



/* BODY */
    body {
        margin : 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: serif;
        overflow: hidden;
    }
    
    html,
    body {
        height: 100%;
        

    }
/* BODY end */

/* NAME-TITLE */
    #name-title {
        border: 1px solid white;
        position: absolute;
        right: 4%;
        top: 4%;
        padding-top: 3px;
        padding-bottom: 3px;
        z-index: 10;
        background-color: black;
        width: 150px;
        text-align: center;
        display: block;
    }
    #name-title a {
        color: white;
        text-decoration: none;
        display: block; /* to make entire box the link */
    }
    #name-title:hover a {
        color: black;
    }
/* NAME-TITLE end */



/* WRAPPER */
    .wrapper {
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        grid-auto-rows: auto;
        /*grid-template-rows: repeat(15, 1fr);*/
        justify-items: stretch;
        /* grid-gap: 2px; need to fix the margins(?) on the side if doing gap */
    height: 100vh;
    width: 100vw;
  background-color: black;
    }
/* WRAPPER end */


/* PROJECT DESCRIPTION */
ul {
    list-style-type: none;
}

table a {
    text-decoration: none;
    /*cursor: crosshair;*/
}

table a:visited {
    text-decoration: none;
    color: white;
}

table, th, td {
    border:1px solid white;
    border-collapse: collapse;
    font-family: serif;
}

#project-table th, td {
    padding: 3px;
    text-decoration: none;
}

#project-table  {
    width: 300px;
    max-height: 300px;
    position: fixed;
    top: 4%;
    left: 4%;
    background-color: black;
    text-align: initial;
justify-self: center;
    table-layout: fixed;
    pointer-events: none;
    color: white;
    z-index: 10;
}


td#project-year {
    width: 40px;
    text-align: center;

}

/* PROJECT DESCRIPTION end */



/* TABLES */

.table-1 {
    position: absolute;
    left: 10%;
    top: 20%;
    z-index: 1;
    display: inline;
    width: 30%;
    height: 68%;
    background-image: url("../../resources/images/table\ photo_1_33pc.png");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(33deg);
  }

  .table-2 {
    position: absolute;
    left: 55%;
    top: 30%;
    z-index: 1;
    display: inline;
    width: 30%;
    height: 68%;
    background-image: url("../../resources/images/table\ photo_2_33pc.png");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(103deg);
  }


.models {
    width: 30vh;   
    text-align: center;
    overflow: hidden;
    position: absolute;
    top: 18%;
     left: 45%;

    z-index: 5;
    background-color: white;
    border: 1px solid black;



}


  .models video {
    width: 30vh;
        height: 30vh;
        transform-origin: center center;
        transform: scale(1);
        transition: transform 0.5s;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
  }

  .lna-2 {
    position: absolute;
    left: 50%;
    bottom: 5%;
    z-index: 4;
    display: inline;
    width: 18vh;
    height: 14.4vh;
    background-image: url("../../resources/images/2022_lna_2.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid black;
  }

  .lna-3 {
    position: absolute;
    left: 64%;
    top: -5%;
    z-index: 4;
    display: inline;
    width: 18vh;
    height: 14.4vh;
    background-image: url("../../resources/images/2022_lna_3.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid black;
  }

  .lna-6 {
    position: absolute;
    left: 30%;
    bottom: -4%;
    z-index: 4;
    display: inline;
    width: 22vh;
    height: 30vh;
    background-image: url("../../resources/images/2022_lna_6.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid black;
  }

  .lna-8 {
    position: absolute;
    left: 40%;
    top: -10%;
    z-index: 4;
    display: inline;
    width: 25vh;
    height: 31.25vh;
    background-image: url("../../resources/images/2022_lna_8.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid black;
  }

  .lna-11 {
    position: absolute;
    left: 70%;
    top: 11%;
    z-index: 4;
    display: inline;
    width: 25vw;
    height: 17.86vw;
    background-image: url("../../resources/images/2022_lna_11.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid black;
  }

  .lna-12 {
    position: absolute;
    right:-17%;
    top: 30%;
    z-index: 4;
    display: inline;
    width: 40vh;
    height: 28.57vh;
    background-image: url("../../resources/images/2022_lna_12.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid black;
  }

  .lna-13 {
    position: absolute;
    left: -5%;
    top: 60%;
    z-index: 4;
    display: inline;
    width: 20vw;
    height: 16vw;
    background-image: url("../../resources/images/2022_lna_13.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid black;
  }



  .card-1 {
    position: absolute;
    right:5%;
    top: 73%;
    z-index: 5;
    display: inline;
    width: 20vh;
    height: 32vh;
    background-image: url("../../resources/images/card1.png");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(4deg);
  }

  .card-2 {
    position: absolute;
    left:2%;
    top: 10%;
    z-index: 5;
    display: inline;
    width: 20vh;
    height: 32vh;
    background-image: url("../../resources/images/card2.png");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(335deg);
  }

  .card-3 {
    position: absolute;
    left:20%;
    bottom: -21%;
    z-index: 5;
    display: inline;
    width: 20vh;
    height: 32vh;
    background-image: url("../../resources/images/card3.png");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(190deg);
  }





  /* CITR BACK */


  #citr-back {
    border: 1px solid white;
    position: absolute;
    left: 4%;
    bottom: 4%;
    padding-top: 3px;
    padding-bottom: 3px;
    z-index: 10;
    background-color: black;
    width: 185px;
    text-align: center;
    display: block;
}
#citr-back a {
    color: white;
    text-decoration: none;
    display: block; /* to make entire box the link */
}

#citr-back:hover {
    background-color: yellow;
    border: 1px solid yellow;
}

#citr-back:hover a {
    color: black;
}



/* MEDIA QUERIES */

.small-screen {
  display: none;
  position: absolute;
   top: 50%;
      transform: translate(0, -50%);
      /* ^ to keep the box centered vertically + top:50% */
}

.small-screen img {
  object-fit: cover;
  width: 60vw;
  pointer-events: none;

}


  /* hide body on smaller screens */


  .center-text {
    position: absolute;
    text-align: center;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -75px;
    color: black;
    cursor: default ;
}

@media screen and (max-width: 900px) {
    .wrapper {
      display: none;
    }

    #name-title {
        display: none;
    }

    .small-screen {
        display: block;
        
        
    }
  }

