

* {
    box-sizing: border-box;
}

/* BODY */
    body {
        margin : 0;
    }
/* BODY end */

/* NAME-TITLE */
    #name-title {
        border: 1px solid black;
        position: fixed;
        right: 4%;
        top: 4%;
        padding-top: 3px;
        padding-bottom: 3px;
        z-index: 3;
        background-color: white;
        width: 150px;
        text-align: center;
        
    }
    #name-title a {
        color: black;
        text-decoration: none;
        display: block; /* to make entire box the link */
    }
    #name-title:hover a {
        color: white;
    }
/* NAME-TITLE end */










/* PHOTO GRID */

.photo-grid {
  display: flex; /* or inline-flex */;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 80px 50px 80px 50px;
  /* row-gap: 10px;
  column-gap: 10px; */
  align-items: center;
  justify-content: center;
  
  
}


.photo-thumbnail {
  width: 200px; 
height: 225px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid white ;
  align-items: center;
justify-content: center;
transition: 0s color;
}

.blank-thumbnail {
  width: 200px; 
height: 225px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid white ;
  align-items: center;
justify-content: center;
}


.photo-thumbnail:hover {
  border: 1px solid black;
  color: white;
  transition-delay:500ms;
}



.thumbnail-top {
  width: 100%;
  height: 200px;
  /* border-bottom: 1px solid black; */
  display: flex;
justify-content: center;
align-items: center;
}

.thumbnail-image {
  margin: auto;
display: block;
  object-fit: cover;
  text-align: center;
  width: 90%;
  height: auto;
  pointer-events: none;
}



.thumbnail-date {
  font-size: 15px;
  line-height: 25px;
  cursor: default;
}


#photo-info {
  border: 1px solid black;
  position: fixed;
  left: 4%;
  top: 4%;
  padding: 3px 5px 3px 4px;
  z-index: 3;
  background-color: white;
  width: 275px;
  
}
#photo-info a {
  color: black;
  text-decoration: none;
}
#photo-info:hover a {
  color: white;
}



.photo-hidden {
  visibility: hidden;
  transition: 0s visibility;
}

.photo-thumbnail:hover + .photo-hidden {
  visibility: visible;
  transition-delay:500ms;
}


.hidden-image img {
  display: block;
  position: fixed;
  width: 70vw;
  max-width: 1000px;
  height: auto;
  top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
margin: 0;
border: black solid 1px;
}








/* PHOTO GRID end */













/* PROJECT DESCRIPTION */
    ul {
        list-style-type: none;
    }
    
    table a {
        text-decoration: none;
        /*cursor: crosshair;*/
        cursor: e-resize;
    }
    
    table a:visited {
        text-decoration: none;
        color: black;
    }
    
    table a:hover {
        text-decoration: underline;
    }
    
    table, th, td {
        border:1px solid black;
        border-collapse: collapse;
        font-family: serif;
    }
    
    #project-table th, td {
        padding: 4px;
        text-decoration: none;
    }
    
    table {
        width: 300px;
        max-height: 300px;
        position: fixed;
        top: 40%;
        right: 5%;
        background-color: white;
        text-align: initial;
    justify-self: center;
        table-layout: fixed;
    }
    
    table td.project:hover {
        text-decoration: none;
        background: #f0ff00;
        cursor: e-resize;
    }
    
    td#project-year {
        width: 40px;
        text-align: center;
    
    }
    
    /*td#project-text {
        height: 200px;
        display: block;
        overflow: scroll;
        text-overflow: ellipsis;
        border: none;
    } */
    
    #project-text {
        width: 290px; /* make a bit smaller than table width to allow for scrollbar */
        height: 250px;
        overflow: scroll;
        overflow-x: hidden; /* to hide horizontal scrollbar on windows */
    }
    
    #project-tableheader {
        cursor: move;
    }
    
    #project-tableheader:hover {
        background: yellow;
    }

    .alignleft {
        float: left;
    }
    .alignright {
        float: right;
    }
  /* PROJECT DESCRIPTION end */





  /* MEDIA QUERIES */

.small-screen {
    display: none;
    position: absolute;
     top: 50%;
        transform: translate(0, -50%);
        /* ^ to keep the box centered vertically + top:50% */
}

.small-screen img {
    object-fit: cover;
    width: 60vw;
    pointer-events: none;

}



  /* hide body on smaller screens */


.center-text {
  position: absolute;
  text-align: center;
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -75px;
  color: black;
  cursor: default ;
}

@media screen and (max-width: 900px) {
  .wrapper {
    display: none;
  }

  #name-title {
      display: none;
  }

  .small-screen {
      display: block;
      
      
  }
}
