

* {
    box-sizing: border-box;
}

/* BODY */
    body {
        margin : 0;
    }
/* BODY end */

/* NAME-TITLE */
    #name-title {
        border: 1px solid black;
        position: fixed;
        right: 4%;
        top: 4%;
        padding-top: 3px;
        padding-bottom: 3px;
        z-index: 5;
        background-color: white;
        width: 150px;
        text-align: center;
        
    }
    #name-title a {
        color: black;
        text-decoration: none;
        display: block; /* to make entire box the link */
    }
    #name-title:hover a {
        color: white;
    }
/* NAME-TITLE end */



/* WRAPPER */
    .wrapper {
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        grid-auto-rows: auto;
        /*grid-template-rows: repeat(15, 1fr);*/
        justify-items: stretch;
        /* grid-gap: 2px; need to fix the margins(?) on the side if doing gap */
    height: 100vh;
    width: 100vw;
    
    }
/* WRAPPER end */




/* PROJECT DESCRIPTION */
    ul {
        list-style-type: none;
    }
    
   
    
    table a:visited {
        text-decoration: none;
        color: black;
    }

    #project-table {
        cursor: default;
        
    }
    
    table, th, td {
        border:1px solid black;
        border-collapse: collapse;
        font-family: serif;
    }
    
    #project-table th, td {
        padding: 4px;
        text-decoration: none;
    }
    
    table {
        width: 80vh;
        position: fixed;
        margin: auto;
        top:0;
        bottom: 0;
        background-color: white;
        text-align: initial;
    justify-self: center;
        table-layout: fixed;
        z-index: 5;
    }
    
    table td.project:hover {
        text-decoration: none;
        background: #f0ff00;
        cursor: e-resize;
    }
    
    td#project-year {
        width: 40px;
        text-align: center;
    
    }
    
   
    
    #project-text {
        max-height: 50px;
        overflow: scroll;
        overflow-x: hidden; /* to hide horizontal scrollbar on windows */
    }
    
    #project-tableheader {
        cursor: move;
    }
    
    #project-tableheader:hover {
        background: #fcf40a;
    }


    .alignleft {
        float: left;
    }
    .alignright {
        float: right;
    }
  /* PROJECT DESCRIPTION end */






/* BACK DOOR 2*/
.back-door-2-container {
    display:inline-block;
    position: fixed;
    right: 1%;
    top: 10%;
    margin: 0;
    width: calc(32vh - 2px);
    border: 1px solid black;
    overflow: hidden;
    background-color: white;
    z-index: 2;
}

.back-door-2-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* transition: all 1s ; */
}

.back-door-2-container img:hover {
    transform: translate(30%, 30%) scale(2.5);
    cursor: pointer;
}

/* CARPORT 1 */
.carport-1-container {
    display:inline-block;
    position: fixed;
    left: 28%;
    bottom: 2%;
    margin: 0;
    width: calc(34vh - 2px);
    border: 1px solid black;
    overflow: hidden;
    background-color: white;
    z-index: 2;
}

.carport-1-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
   /* transition: all 1s ; */
}

.carport-1-container img:hover {
    transform: translate(-5%, -2%) scale(2.5);
    cursor: pointer;
}

/* PLAN */
.plan-container {
    display:inline-block;
    position: fixed;
    left: 0;
    right: 0;
    
    top: 30%;
    margin: auto;
    width: calc(60vh - 2px);
    border: 1px solid black;
    overflow: hidden;
    background-color: white;
    z-index: 1;
    
}

.plan-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
   /* transition: all 1s ; */
}

.plan-container img:hover {
    transform: translate(-5%, -2%) scale(2.5);
    cursor: pointer;
}





/* DECK 1 */
.deck-1-container {
    display:inline-block;
    position: fixed;
    left: 25%;
    top: 1%;
    margin: 0;
    width: calc(28vh - 2px);
    border: 1px solid black;
    overflow: hidden;
    background-color: white;
    z-index: 2;
}

.deck-1-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
   /* transition: all 1s ; */
}

.deck-1-container img:hover {
    transform: translate(15%, -2%) scale(2);
    cursor: pointer;
}



/* DECK 2 */
.deck-2-container {
    display:inline-block;
    position: fixed;
    right: 7%;
    bottom: 5%;
    margin: 0;
    width: calc(31vh - 2px);
    border: 1px solid black;
    overflow: hidden;
    background-color: white;
    z-index: 2;
}

.deck-2-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
   /* transition: all 1s ; */
}

.deck-2-container img:hover {
    transform: translate(-20%, -40%) scale(2.5);
    cursor: pointer;
}


/* FENCE 1 */
.fence-1-container {
    display:inline-block;
    position: fixed;
    left: 45%;
    top: 9%;
    margin: 0;
    width: calc(22vh - 2px);
    border: 1px solid black;
    overflow: hidden;
    background-color: white;
    z-index: 2;
}

.fence-1-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
   /* transition: all 1s ; */
}

.fence-1-container img:hover {
    transform: translate(-30%, -20%) scale(2);
    cursor: pointer;
}


/* VULCAN LANE 1 */
.vulcan-lane-1-container {
    display:inline-block;
    position: fixed;
    left: 2%;
    bottom: 8%;
    margin: 0;
    width: calc(34vh - 2px);
    border: 1px solid black;
    overflow: hidden;
    background-color: white;
    z-index: 2;
}

.vulcan-lane-1-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
   /* transition: all 1s ; */
}

.vulcan-lane-1-container img:hover {
    transform: translate(-10%, -40%) scale(2);
    cursor: pointer;
}


/* SPA 1 */
.spa-1-container {
    display:inline-block;
    position: fixed;
    right: 23%;
    top: 4%;
    margin: 0;
    width: calc(27vh - 2px);
    border: 1px solid black;
    overflow: hidden;
    background-color: white;
    z-index: 2;
}

.spa-1-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
   /* transition: all 1s ; */
}

.spa-1-container img:hover {
    transform: translate(0%, -25%) scale(2);
    cursor: pointer;
}


/* STUDIO 2 */
.studio-2-container {
    display:inline-block;
    position: fixed;
    right: 17%;
    top: 44%;
    margin: 0;
    width: calc(23vh - 2px);
    border: 1px solid black;
    overflow: hidden;
    background-color: white;
    z-index: 2;
}

.studio-2-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
   /* transition: all 1s ; */
}

.studio-2-container img:hover {
    transform: translate(3%, 10%) scale(2);
    cursor: pointer;
}

/* LOUNGE-DECK 1 */
.lounge-deck-1-container {
    display:inline-block;
    position: fixed;
    right: 29%;
    bottom: 3%;
    margin: 0;
    width: calc(24vh - 2px);
    border: 1px solid black;
    overflow: hidden;
    background-color: white;
    z-index: 2;
}

.lounge-deck-1-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
   /* transition: all 1s ; */
}

.lounge-deck-1-container img:hover {
    transform: translate(3%, 10%) scale(2);
    cursor: pointer;
}


/* GARAGE 1 */
.garage-1-container {
    display:inline-block;
    position: fixed;
    left: 17%;
    top: 35%;
    margin: 0;
    width: calc(24vh - 2px);
    border: 1px solid black;
    overflow: hidden;
    background-color: white;
    z-index: 2;
}

.garage-1-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
   /* transition: all 1s ; */
}

.garage-1-container img:hover {
    transform: translate(20%, 10%) scale(2);
    cursor: pointer;
}






























  /* MEDIA QUERIES */

.small-screen {
    display: none;
    position: absolute;
     top: 50%;
        transform: translate(0, -50%);
        /* ^ to keep the box centered vertically + top:50% */
}

.small-screen img {
    object-fit: cover;
    width: 60vw;
    pointer-events: none;

}





  /* SKETCHES */

  .sketch-1 {
    position: fixed;
    right: 10%;
    top: 33%;
    z-index: -1;
    display: inline;
    width: 18%;
    height: 27%;
    background-image: url("../../resources/images/roof-trapdoor-2.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .sketch-2 {
    position: fixed;
    left: 5%;
    bottom: 4%;
    z-index: -1;
    display: inline;
    width: 28%;
    height: 18%;
    background-image: url("../../resources/images/roof-washing line-04.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .sketch-3 {
    position: fixed;
    left: 1%;
    top: 2%;
    z-index: -1;
    display: inline;
    width: 11%;
    height: 18%;
    background-image: url("../../resources/images/roof-washing line-02.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .sketch-5 {
    position: fixed;
    right: 1%;
    bottom: 10%;
    z-index: -1;
    display: inline;
    width: 9%;
    height: 20%;
    background-image: url("../../resources/images/roof-trapdoor-7.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .sketch-6 {
    position: fixed;
    right: 20%;
    top: 8%;
    z-index: -1;
    display: inline;
    width: 10%;
    height: 20%;
    background-image: url("../../resources/images/roof-trapdoor-8.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .sketch-8 {
    position: fixed;
    left: 15%;
    top: 50%;
    z-index: -1;
    display: inline;
    width: 23%;
    height: 23%;
    background-image: url("../../resources/images/roof-washing line-01.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(351deg);
  }
  .sketch-9 {
    position: fixed;
    left: 35%;
    top: 1%;
    z-index: -1;
    display: inline;
    width: 30%;
    height: 23%;
    background-image: url("../../resources/images/roof-washing line-03.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .sketch-10 {
    position: fixed;
    right: -8%;
    top: 20%;
    z-index: -1;
    display: inline;
    width: 23%;
    height: 19%;
    background-image: url("../../resources/images/roof-washing line-05.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .sketch-12 {
    position: fixed;
    right: 17%;
    bottom: 2%;
    z-index: -1;
    display: inline;
    width: 13%;
    height: 11%;
    background-image: url("../../resources/images/roof-trapdoor-1.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  

  .sketch-13 {
    position: fixed;
    left: 2%;
    top: 60%;
    z-index: -1;
    display: inline;
    width: 13%;
    height: 11%;
    background-image: url("../../resources/images/roof-trapdoor-5.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }


  .gif-1 {
    position: fixed;
    left: 5%;
    top: 23%;
    z-index: -1;
    display: inline;
    width: 24%;
    height: 18%;
    background-image: url("../../resources/images/2023-375-washing-line.gif");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }






  




  /* SKETCHES end */


  .nav-link a {
    text-decoration: none;
    display: block;
    color: black;
  }
  
  .nav-link a:visited {
    text-decoration: none;
    color: black;
    display: block;
  }

  .nav-link:hover {
    text-decoration: none;
     background: #fcf40a;
    cursor: pointer;

  }

/* LINKS */


#next-link {
    border: 1px solid black;
    position: fixed;
    right: 4%;
    bottom: 4%;
    padding-top: 3px;
    padding-bottom: 3px;
    z-index: 10;
    background-color: white;
    width: 70px;
    text-align: center;
    display: block;
}
#next-link a {
    color: black;
    text-decoration: none;
    display: block; /* to make entire box the link */
}
#next-link:hover  {
    background-color: #fcf40a;
}


#back-link {
    border: 1px solid black;
    position: fixed;
    left: 4%;
    bottom: 4%;
    padding-top: 3px;
    padding-bottom: 3px;
    z-index: 10;
    background-color: white;
    width: 220px;
    text-align: center;
    display: block;
}
#back-link a {
    color: black;
    text-decoration: none;
    display: block; /* to make entire box the link */
}
#back-link:hover  {
    background-color: #fcf40a;
}










  /* hide body on smaller screens */


.center-text {
    position: absolute;
    text-align: center;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -75px;
    color: black;
    cursor: default ;
}

@media screen and (max-width: 900px) {
    .wrapper {
      display: none;
    }

    #name-title {
        display: none;
    }

    .small-screen {
        display: block;
        
        
    }
  }
