* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

/* BODY */
  body {
      margin : 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: serif;
  }
  
  html,
  body {
      height: 100%;
      overflow: hidden;

  }
/* BODY end */

/* WRAPPER */
.wrapper {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-auto-rows: auto;
  /*grid-template-rows: repeat(15, 1fr);*/
  justify-items: stretch;
  /* grid-gap: 2px; need to fix the margins(?) on the side if doing gap */
height: 100vh;
width: 100vw;
background-color: var(--bg-color);
}
/* WRAPPER end */
  
/* NAME-TITLE */
#name-title {
  border: .5px solid black;
  position: absolute;
  right: 4%;
  top: 4%;
  padding-top: 3px;
  padding-bottom: 3px;
  z-index: 3;
  background-color: white;
  width: 150px;
  text-align: center;
  
}
#name-title a {
  color: black;
  text-decoration: none;
  display: block; /* to make entire box the link */
}
#name-title:hover a {
  color: white;
}
/* NAME-TITLE end */


/* SLIDESHOW */
  /* ratio 1:1 */
  
  .slider {
      width: calc(35vw + 20px);
      min-width: 320px;
      max-height: 90vh;
      text-align: center;
      overflow: hidden;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      /* ^ to keep the box centered vertically + top:50% */
      left:10%;
      
      border: .5px solid black;
      z-index: 2;
  }


  .slides {
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: auto;
      -webkit-overflow-scrolling: touch;
      
      background-color: white;
      /*
      scroll-snap-points-x: repeat(300px);
      scroll-snap-type: mandatory;
      */
  }

  .slides>div {
      scroll-snap-align: start;
      flex-shrink: 0;
      width: calc(35vw + 20px);
      height: calc(35vw + 20px);
      min-width: 320px;
      min-height: 320px;
      margin-right: 20px;
      background: #eeeeee;
      transform-origin: center center;
      transform: scale(1);
      transition: transform 0.5s;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      
  }

  .slides img {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;

  }

  .slider>a {
      display: inline-flex;
      width: 1rem;
      height: 2rem;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      position: relative;
      color: var(--font-color);
      font-size: 0.9em;
  }

  .slider>a:hover {
      text-decoration: underline;
      /*cursor: ew-resize;*/
  }

  .slide-description {
      position: relative;
      bottom: -46%;
      z-index: 100;
      color: black;
      font-size: 1.15vw;
    }
  
  /* slideshow buttons - chairs */

  .chair-grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-gap: 15px;
      border: solid 1px black;
      background-color: white;
      padding: 10px;
      min-width: 300px;
      max-height: 90vh;

      position: absolute;
      right: 10%;
      top: 50%;
      transform: translate(0, -50%);
      /* ^ to keep the box centered vertically + top:50% */
      width: 35vw;
      
    }
    
    .chair-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; 
    }

    .chair-img:hover {
      opacity: 0.65;
    }
    /* END */
  
    

/* SLIDESHOW end */


/* PROJECT DESCRIPTION */
#project-table {
  width: 300px;
  max-height: 300px;
  position: absolute;
  bottom: 3%;
  left: 30%;
  background-color: white;
  text-align: initial;
  justify-self: center;
  table-layout: fixed;
  z-index: 3;
}


ul {
  list-style-type: none;
}

table a {
  text-decoration: none;
  /*cursor: crosshair;*/
  cursor: e-resize;
}

table a:visited {
  text-decoration: none;
  color: black;
}

table a:hover {
  text-decoration: underline;
}

table, th, td {
  border:1px solid black;
  border-collapse: collapse;
  font-family: serif;
}

#project-table th, td {
  padding: 4px;
  text-decoration: none;
}


table td.project:hover {
  text-decoration: none;
  background: #f0ff00;
  cursor: e-resize;
}

td#project-year {
  width: 40px;
  text-align: center;

}

/*td#project-text {
  height: 200px;
  display: block;
  overflow: scroll;
  text-overflow: ellipsis;
  border: none;
} */

#project-text {
  width: 290px; /* make a bit smaller than table width to allow for scrollbar */
  height: 250px;
  overflow: scroll;
  overflow-x: hidden; /* to hide horizontal scrollbar on windows */
}

#project-tableheader {
  cursor: move;
}

#project-tableheader:hover {
  background: yellow;
}
/* PROJECT DESCRIPTION end */








* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}



/* BODY */
  body {
      margin : 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: serif;
      overflow-y: clip;
  }
  
  html,
  body {
      height: 100%;
      

  }
/* BODY end */

/* WRAPPER */
.wrapper {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-auto-rows: auto;
  /*grid-template-rows: repeat(15, 1fr);*/
  justify-items: stretch;
  /* grid-gap: 2px; need to fix the margins(?) on the side if doing gap */
height: 100vh;
width: 100vw;

}
/* WRAPPER end */
  
/* NAME-TITLE */
#name-title {
  border: 1px solid black;
  position: absolute;
  right: 4%;
  top: 4%;
  padding-top: 3px;
  padding-bottom: 3px;
  z-index: 3;
  background-color: white;
  width: 150px;
  text-align: center;
  
}
#name-title a {
  color: black;
  text-decoration: none;
  display: block; /* to make entire box the link */
}
#name-title:hover a {
  color: white;
}
/* NAME-TITLE end */


/* SLIDESHOW */
  /* ratio 1:1 */
  
  .slider {
      width: calc(35vw + 20px);
      min-width: 320px;
      min-height: 320px;
      max-height: 90vh;
      text-align: center;
      overflow: hidden;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      /* ^ to keep the box centered vertically + top:50% */
      right:10%;
      border: 1px solid black;
      z-index: 2;
  }


  .slides {
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: auto;
      -webkit-overflow-scrolling: touch;
      
      background-color: white;
      /*
      scroll-snap-points-x: repeat(300px);
      scroll-snap-type: mandatory;
      */
  }

  .slides>div {
      scroll-snap-align: start;
      flex-shrink: 0;
      width: calc(35vw + 20px);
      height: calc(35vw + 20px);
      min-width: 320px;
      min-height: 320px;
      margin-right: 20px;
      background: #eeeeee;
      transform-origin: center center;
      transform: scale(1);
      transition: transform 0.5s;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      
  }

  .slides img {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;

  }

  .slider>a {
      display: inline-flex;
      width: 1rem;
      height: 2rem;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      position: relative;
      color: var(--font-color);
      font-size: 0.9em;
  }

  .slider>a:hover {
      text-decoration: underline;
      /*cursor: ew-resize;*/
  }

  .slide-description {
      position: relative;
      bottom: -46%;
      z-index: 100;
      color: black;
      font-size: 1.15vw;
    }
  
  /* slideshow buttons - chairs */

  .chair-grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-gap: 15px;
      
      background-color: white;
    }
    
    .chair-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; 
      /*pointer-events: none; */ /* !will stop mouseover text from working! */
      image-rendering: auto;
    }

    .chair-img:hover {
      opacity: 0.65;
    }
    /* END */
  
    

/* SLIDESHOW end */


/* PROJECT DESCRIPTION */
#project-table {
  width: calc(35vw + 22px);
  height: calc(35vw + 22px);
  min-width: 300px;
  position: fixed;
      left: 10%;
      top: 50%;
      transform: translate(0, -50%);
      /* ^ to keep the box centered vertically + top:50% */
  background-color: white;
  text-align: initial;
  justify-self: center;
  table-layout: fixed;
  z-index: 3;
  table-layout: fixed
}


ul {
  list-style-type: none;
}

table a {
  text-decoration: none;
  
}

table a:visited {
  text-decoration: none;
  color: black;
}

table a:hover {
  text-decoration: underline;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-family: serif;
}

#project-table th, td {
  padding: 4px;
  text-decoration: none;
}


table td.project:hover {
  text-decoration: none;
  background: #f0ff00;
  cursor: e-resize;
}

td#project-year {
  width: 40px;
  text-align: center;

}

/*td#project-text {
  height: 200px;
  display: block;
  overflow: scroll;
  text-overflow: ellipsis;
  border: none;
} */

#project-text {
  /*width: calc(35vw - 10px); /* make a bit smaller than table width to allow for scrollbar */
  height: 80px;
  overflow: scroll;
  overflow-x: hidden; /* to hide horizontal scrollbar on windows */
}

#project-tableheader {
  cursor: move;
}

#project-tableheader:hover {
  background: yellow;
}


/* PROJECT DESCRIPTION end */


/* MEDIA QUERIES */

.small-screen {
  display: none;
  position: absolute;
   top: 50%;
      transform: translate(0, -50%);
      /* ^ to keep the box centered vertically + top:50% */
}

.small-screen img {
  object-fit: cover;
  width: 60vw;
 
  pointer-events: none;

}


/* SKETCHES */
.sketch-1 {
  position: absolute;
  left: 14%;
  top: 20%;
  z-index: -1;
  display: inline;
  width: 10%;
  height: 20%;
  background-image: url("../../resources/images/sketch_citr_001.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.sketch-2 {
  position: absolute;
  right: 1%;
  bottom: 2%;
  z-index: -1;
  display: inline;
  width: 14%;
  height: 14%;
  background-image: url("../../resources/images/sketch_citr_002.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.sketch-7 {
  position: absolute;
  right: 20%;
  top: 15%;
  z-index: -1;
  display: inline;
  width: 10%;
  height: 14%;
  background-image: url("../../resources/images/sketch_citr_007.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.sketch-9 {
  position: absolute;
  left: 25%;
  top: 34%;
  z-index: -1;
  display: inline;
  width: 7%;
  height: 7%;
  background-image: url("../../resources/images/sketch_citr_009.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.sketch-14 {
  position: absolute;
  left: 38%;
  top: 58%;
  z-index: -1;
  display: inline;
  width: 15%;
  height: 15%;
  background-image: url("../../resources/images/sketch_citr_014.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.sketch-17 {
  position: absolute;
  left: 1%;
  top: 70%;
  z-index: -1;
  display: inline;
  width: 15%;
  height: 15%;
  background-image: url("../../resources/images/sketch_citr_017.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.sketch-18 {
  position: absolute;
  left: -6%;
  top: 10%;
  z-index: -1;
  display: inline;
  width: 15%;
  height: 18%;
  background-image: url("../../resources/images/sketch_citr_018.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.sketch-19 {
  position: absolute;
  left: 81%;
  top: 65%;
  z-index: -1;
  display: inline;
  width: 12%;
  height: 12%;
  background-image: url("../../resources/images/sketch_citr_019.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.sketch-20 {
  position: absolute;
  left: 17%;
  bottom: 3%;
  z-index: -1;
  display: inline;
  width: 15%;
  height: 15%;
  background-image: url("../../resources/images/sketch_citr_020.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.sketch-22 {
  position: absolute;
  left: 38%;
  top: 20%;
  z-index: -1;
  display: inline;
  width: 17%;
  height: 20%;
  background-image: url("../../resources/images/sketch_citr_022.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.sketch-24 {
  position: absolute;
  left: 24%;
  top: 1%;
  z-index: -1;
  display: inline;
  width: 17%;
  height: 12%;
  background-image: url("../../resources/images/sketch_citr_024.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.sketch-26 {
  position: absolute;
  left: 62%;
  top: 75%;
  z-index: -1;
  display: inline;
  width: 12%;
  height: 12%;
  background-image: url("../../resources/images/sketch_citr_026.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.sketch-27 {
  position: absolute;
  left: 5%;
  top: 45%;
  z-index: -1;
  display: inline;
  width: 14%;
  height: 15%;
  background-image: url("../../resources/images/sketch_citr_027.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.sketch-31 {
  position: absolute;
  right: 30%;
  top: 4%;
  z-index: -1;
  display: inline;
  width: 8%;
  height: 8%;
  background-image: url("../../resources/images/sketch_citr_031.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.sketch-33 {
  position: absolute;
  right: 1%;
  top: 9%;
  z-index: -1;
  display: inline;
  width: 8%;
  height: 8%;
  background-image: url("../../resources/images/sketch_citr_033.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.sketch-35 {
  position: absolute;
  left: 38%;
  top: 80%;
  z-index: -1;
  display: inline;
  width: 8%;
  height: 8%;
  background-image: url("../../resources/images/sketch_citr_035.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.sketch-37 {
  position: fixed;
  left: 97%;
  top: 40%;
  z-index: -1;
  display: inline;
  width: 12%;
  height: 13%;
  background-image: url("../../resources/images/sketch_citr_037.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.sketch-38 {
  position: fixed;
  left: 54%;
  top: 91%;
  z-index: -1;
  display: inline;
  width: 12%;
  height: 13%;
  background-image: url("../../resources/images/sketch_citr_038.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.sketch-39 {
  position: fixed;
  left: 1%;
  top: 92%;
  z-index: -1;
  display: inline;
  width: 6%;
  height: 13%;
  background-image: url("../../resources/images/sketch_citr_039.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

/* SKETCHES end */















/* hide body on smaller screens */


.center-text {
  position: absolute;
  text-align: center;
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -75px;
  color: black;
  cursor: default ;
}

@media screen and (max-width: 480px) {
  .wrapper {
    display: none;
  }

  #name-title {
      display: none;
  }

  .small-screen {
      display: block;
      
      
  }
}















